body {
    font-family: 'Arapey', serif;
    font-size: 30px;
    line-height: 1;
  }

  .display-3 {
      font-size: 100px;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-bottom: 10px solid black;
    font-size: 20px;
  } 
.lead {
    font-size: 40px;
}

.container{
    max-width: 75%;
    max-height: 300%;
}
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    /* white-space: pre-wrap; */
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #A3C4CF;
    color: #000000;
    border-top: 1px dashed #000000;
    font-size: 30px;
    margin-left: 0px;
    text-align: start;
    
  }
  
  .past {
    background-color: #dff7e0;
    color: white;
    font-size: 30px;
  }
  
  .present {
    background-color: #a6d6b2;
    color: white;
    font-size: 30px;
  }
  
  .future {
    background-color: #7fc094;
    color: white;
    font-size: 30px;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #A3C4CF;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }